<div class="container-fluid">
  <%= link_to 'Regresar', healths_path, class: 'btn btn-secondary mb-5' %>
  
  <h1 class="mb-3">Nueva eps</h1>
  
  <div class="row">
    <div class="col-6">
      <%= render 'healths/form' %>
    </div>
  </div>

</div>

