<div class="container-fluid">
  <%= link_to 'Regresar', offices_path, class: 'btn btn-secondary mb-5' %>
  
  <h1 class="mb-3">Editing Office</h1>
  <div class="row">
    <div class="col-6">
      <%= render 'form', office: @office %>
    </div>
  </div>
</div>




