<div class="container-fluid">
  <%= link_to 'Regresar', visitors_path, class: 'btn btn-secondary mb-5' %>
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <h1 class="mb-3">Editar visitante</h1>
    <%= render 'form', visitor: @visitor %>
  </div>
</div>
