<div class="container-fluid">
  
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="row mb-0">
      <div class="col-9">
        <h1>Visitantes</h1>
      </div>
      <div class="col-3">
        <%= link_to 'Agregar visitante', new_visitor_path, class: 'btn btn-success' %>
      </div>
    </div>
    <hr>
    <%= render "visitor_table", obj: @visitors if @visitors%>
  </div>  
</div>