<div class="container-fluid"> 
  <%= link_to 'Regresar', active_visit_path, class: 'btn btn-secondary mb-5' %>
  
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <h1 class="mb-5">Registrar visita</h1>

    <div class="card mb-4 px-3 py-3">
      <div class="form-group">
        <h3>Buscar visitante</h3>
        <div class="row">
          <div class="col-6">
            <input type="text" id="searchDni" placeholder="Digite la cedula del visitante, nombre o apellido" class="form-control">
          </div>
          <div class="col-5">
            <button id="btnSearch" class="btn btn-info">Buscar</button>
            <%= link_to 'Agregar visitante', new_visitor_path, class: 'btn btn-success' %>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table" id="visitorsTable">
          <thead class="thead-light">
            <tr>
              <th>Foto</th>
              <th>Cedula</th>
              <th>Nombre completo</th>
              <th>Empresa</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody id="visitorTBody">
          </tbody>
        </table>
      </div>
    </div>

    <div class="card px-3 py-3">
      <h3>Datos de la visita</h3>
      <%= render 'form', visit: @visit %>
    </div>
  </div>

</div>

<%= javascript_pack_tag 'select_office' %>