<div class="container-fluid">
  <%= link_to 'Regresar', floors_path, class: 'btn btn-secondary mb-5' %>
  
  <div class="row">
    <div class="col-6">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <h1 class="mb-3">Nuevo piso</h1>
        <%= render 'form', floor: @floor %>
      </div>
    </div>

    <div class="col-5">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <h3>Pisos existentes</h3>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Nombre</th>
            </tr>
          </thead>
          <% Floor.all.each do |floor| %>
            <tr>
              <td><%= floor.name.capitalize %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
