<div class="container-fluid">
  <%= link_to 'Regresar', securities_path, class: 'btn btn-secondary mb-5' %>
  
  <div class="row">
    <div class="col-6">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <h1 class="mb-3">Editar arl</h1>
        <%= render 'securities/form' %>
      </div>
    </div>
  </div>
  
</div>