<div class="container-fluid">
  <%= link_to 'Regresar', securities_path, class: 'btn btn-secondary mb-5' %>
  
  <h1 class="mb-3">Editar arl</h1>
  <div class="row">
    <div class="col-6">
      <%= render 'securities/form' %>
    </div>
  </div>
  
</div>